.todo-list-container {
  ul { list-style: none; }
  a {
    cursor: pointer;
    color: white;
  }
}

li.todo-item {
  margin-bottom: 0;

  label {
    display: inline-block;
  }

  .completed {
    text-decoration: line-through;
  }

  .clear-todo {
    display: inline-block;
    margin-left: 1rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }

  input {
    margin-bottom: 1rem;
  }
}

input.new-todo {
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: white;
  border-bottom: 3px solid transparentize(white, 0.25);

  &:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid white;
  }
}
